numpy<2.0.0
pandas>=2.1.0
opencv-python-headless
torch
torchvision
scipy
matplotlib
roboflow
psycopg2-binary
python-dotenv
streamlit
tqdm
google-auth
google-auth-oauthlib
google-api-python-client
Flask
Jinja2
gunicorn
SQLAlchemy
alembic
Pillow
requests